
  
  .rightContainer {
    display: flex;
    flex-direction: column;
  }
  
  .calendari {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    backdrop-filter: brightness(90%);
    text-align: center;
    padding-top: 10px;
  }
  
  .month {
    margin-bottom: 20px;
  }
  
  .month h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
  }
  
  .day-name {
    background-color: transparent;
    color: black;
    text-shadow: 2px 2px 4px white;
    width: 100%;
    font-weight: bold;
  }
  
  .days {
    display: grid;
    color: black;
    font-weight: bold;
    font-size: 20px;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .carta {
    background-color: transparent;
    /* background-image: url("./elementos/huella.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    border: 1px solid white;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 50%;
  }
  
  .empty {
    visibility: hidden;
  }
  
  .buttonsContainer {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: auto;
  }
  
  .monthAndYearTitle {
    border-bottom: 2px solid black;  }
  
  .leftContainer {
    margin: auto;
  }