:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    background-color: #242424;
}

.boton {
    width: 85%;
    height: 100%;
    padding: 25px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1em;
    color: #d2cbc2;
    background-color: #081EAC;
    border: 3px solid #2F49D4;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;

}

.boton:hover {
    border-color: #e5e5e5;
}

.boton:focus,
.boton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    background-color: #2F49D4;
}

.center {
    text-align: center;

}