.color-red {
  background-color: #ff0000 !important;
    color: #ff0000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}